/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);
  font-family: var(--main-font-family), sans-serif;
  background-color: var(--background-color);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: var(--text-fw);
}

.header {
  margin: 100px 0;
  border: 2px solid var(--text-color);
  padding-block-start: clamp(7.5rem, 7.148rem + 1.5vw, 8.5rem);
  font-family: var(--accent-font-family), fantasy;
  text-align: center;
  text-transform: uppercase;
  background: var(--background-color);
  inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
}

.header-logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: 1;
}

.header__title {
  line-height: 1;
  margin-block-start: 20px;
  margin-block-end: 25px;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 14px;
  text-align: start;
}

.theme-menu {
  display: flex;
  justify-content: center;
  padding-inline-start: 19px;
  padding-block-end: 23px;
  
}

.theme-menu__button {
  position: relative;
  border: none;
  text-transform: uppercase;
  background: transparent;
  transition: opacity 0.3s ease;
  cursor: pointer;
  line-height: 1;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button::after {
  content: '';
  position: absolute;
  display: block;
  min-width: calc(100% - 12px);
  height: 2px;
  background-color: var(--text-color);
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: left;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  left: -15px;
  animation: nav 0.5s infinite ease-in-out alternate;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  inline-size:clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
}

.section {
  border: 2px solid var(--text-color);
  background-color: var(--background-color);
}

.section__text {
  padding: 5px 10px 3px 10px;
  font-size: 18px;
  font-variation-settings: var(--title-fw);
  line-height: 1.21;
}

.div__img {
  display: flex;
  position: relative;
  border-top: 2px solid var(--text-color);
  border-bottom: 2px solid var(--text-color);
}

.lable {
  position: absolute;
  top: 27px;
  right: 26px;
  line-height: 1;
  opacity: 0.5;
  font-family: var(--accent-font-family), fantasy;
  font-size: 14px;
  text-shadow: 1px 1px 0px var(--text-shadow), -1px -1px 0 var(--text-shadow),
              -1px 1px 0 var(--text-shadow), 1px -1px 0 var(--text-shadow);
  mix-blend-mode: hard-light;
}

@supports (-webkit-text-stroke: 1px var(--text-shadow)) or (text-stroke: 1px var(--text-shadow)) {
  .lable {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--text-shadow);
    text-stroke: 1px var(--text-shadow);
  }
}

.card__image {
  object-fit: cover;
  object-position: center;
  max-inline-size: 100%;
  max-block-size: 100%;
}

.sepia {
  filter: sepia(0.6);
}

.blur {
  filter: blur(3px);
}

.grayscale {
  filter: grayscale(80%);
}

.hue-rotate {
  filter: hue-rotate(0.5turn);
}

.invert {
  filter: invert(100%);
}

.brightness {
  filter: brightness(10%);
}

.multi {
  filter: sepia(1) contrast(2) brightness(200%);
}

.block-text {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 27px 25px 25px 25px;
}

.text {
  font-size: 18px;
  font-variation-settings: var(--text-fw);
  line-height: 21px;
}

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--text-color);
  overflow: hidden;
  font-family: var(--accent-font-family), fantasy;
  font-size: 14px;
  background-color: var(--background-color);
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px var(--text-color);
}

.button::after {
  content: "";
  position: absolute;
  background-color: var(--text-color);
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
  inline-size: 100%;
  block-size: 100%;
}

.button:hover::after {
  transform: translateX(0);
}

.card__button {
  display: flex;
  justify-content: flex-end;
  gap: 4px;
  margin-block-end: 22px;
  padding: 0 25px;
}

.card__like-button {
  inline-size: 130px;
}

.card__icon-button {
  display: flex;
  border: 2px solid transparent;
  padding: 0;
  background-color: transparent;
  transition: border 0.3s ease;
  cursor: pointer;
}

.sparks {
  opacity: 0;
}

.button__save {
  gap: 8px;
  margin-block-start: 50px;
  margin-block-end: 100px;
  padding: 17px 20px;
}

.button__text {
  z-index: 1;
  color: var(--hover-color);
  mix-blend-mode: difference;
  line-height: 0.9;
}

.floppy__button {
  z-index: 1;
  height: auto;
  color: var(--hover-color);
  max-inline-size: 21px;
  mix-blend-mode: difference;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--text-color);
}

.dialog {
  border: 2px solid var(--text-color);
  padding: 30px;
  color: var(--text-color);
  font-family: var(--accent-font-family), fantasy;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  background-color: var(--background-color);
  inline-size: clamp(21.063rem, 20.71rem + 1.5vw, 22.063rem);
}

.dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dialog__menu {
  display: flex;
  gap: 20px;
  margin-block-end: 30px;
  inline-size: clamp(16.063rem, 15.27rem + 3.38vi, 18.313rem);
}

.floppy__dialog {
  min-width: 39px;
}

.dialog__button {
  padding-block-start: 12.5px;
  padding-block-end: 12.5px;
  text-transform: uppercase;
  block-size: 38px;
  inline-size: clamp(16.063rem, 15.27rem + 3.38vi, 18.313rem);
}

.dialog__window {
  border: none;
  padding: 0;
}

.dialog__window::backdrop {
  background-color: rgb(0 0 0 / 75%);
}

@media (width <= 375px) {
  .lable {
    top: 25px;
    right: 11px;
  }

  .button__save {
    display: flex;
    flex-direction: column;
  }

  .floppy__mobile {
    min-inline-size: 28px;
  }
}